/*fonts*/

@import "fonts.css";


/*Specification*/

*{
	box-sizing: border-box;;
}

*:focus {
	outline: none !important;
	box-shadow: none !important;
}

html{
	overflow-x: hidden;
}

body{
	font-family: "Monserrat", "Arial", sans-serif;
	padding: 0;
	margin: 0;
	letter-spacing: 0.02em;
	font-size: 19px;
	color: #848484;
	font-weight: 400;
	line-height: 1.5em;
}

.container{
	margin: 0 auto;
	padding: 20px;
	max-width: 1674px;
	width: 100%;
}

ul, li{
	display: block;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6{
	color: #fff;
	text-align: center;
	margin: 0;
}

h1{
	font-size: 100px;
	color: #fff;
	font-weight: 700;
	line-height: 80px;
	font-size: calc(65px + (35)*(100vw / 1920))
}

h2{
	font-size: 30px;
	color: #fff;
	font-weight: 400;
}

h3{
	font-size: 30px;
	color: #000;
	font-weight: 500;
}

h4{
	font-size: 22px;
	font-weight: 500;
	color: #c4c4c4;
}

a, a:hover, a:active{
	text-decoration: none;
	color: inherit;
}

p{
	margin: 0;
	padding: 0;
}

/*Header*/


header{
	width: 100vw;
	height: 100vh;
	background-image: url(../img/header-bg.jpg);
	background-position: center;
	background-size: cover;
}

.head{
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
}

nav{
	width: 100%;
	display: flex;
	justify-content: center;
}

.nav__list{
	display: flex;
	width: 500px;
	justify-content: space-around;

}

.nav__item{
	text-align: center;
	line-height: 60px;
	width: 30%;
	font-weight: 400;
	font-size: 20px;
	color: #fff;
}

.nav__item:hover{
	border-bottom: 1px solid #fff;
}

.nav__link{
	display: block;
	width: 100%;
	height: 100%;

}

.social{
	text-align: center;
	position: absolute;
	left: 98%;
	top: 50%;
	transform: rotate(90deg) translateX(-50%);
	transform-origin: left top;
	z-index: 10;
	transition: all .2s ease;
}

.social__list{
	width: 500px;
	display: flex;
	justify-content: space-between;
}

.social__item{
	flex: 0 0 30%;
	line-height: 60px;
	color: #fff;
}

.social__item:hover{
	border-bottom: 1px solid #fff;
}

.social__link{
	display: block;
	width: 100%;
	height: 100%;
	transition: all .2s ease;
}

.offer{
	position: absolute;
	top: 50%;
	text-align: center;
	left: 0;
	right: 0;
	transform: translate(0, -50%);

}

.offer__text{
	margin: 14px 0;
	opacity: 0.9;
	letter-spacing: 4px;
}

.offer__btn{
	margin: 0 auto;
	display: block;
	text-align: center;
	text-transform: uppercase;
	width: 295px;
	height: 53px;
	line-height: 53px;
	border: 2px solid #fff;
	font-weight: 400;
	font-size: 18px;
	color: #fff;
	transition: all .2s ease;
}

.offer__btn:hover{
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


/*About*/

.about__wrapper{
	display: flex;
	justify-content: space-between;
}

.about__content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex: 1 1 850px;
	padding-right: 170px;
	text-align: left;
}

.about__title{
	margin: 30px 0;
}

.about__subtitle{
	 text-transform: uppercase;
}

.about__text{
	margin: 50px 0;
}

.info__btn{
	text-transform: uppercase;
	border: 2px solid #000;
	line-height: 53px;
	max-width: 295px;
	text-align: center;
	color: #000;
	transition: all .2s ease;
}

.info__btn:hover{
	background-color: #000;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.about-img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5)
}


/*Photos*/

.photos {
	overflow-x: hidden;
}

.photos__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 100px 0 30px 0;
}

.photos__title {
	font-weight: 700;
	letter-spacing: 3px;
}

.photos__text {
	text-align: center;
	max-width: 830px;
	width: 100%;
	font-size: 27px;
	margin-top: 20px;
	font-weight: 500;
	color: #5b5b5c;
	letter-spacing: 2.2px;
}

.slider {
	width: 100%;
}

.slider__item {
	margin-left: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}
.slider__img {
	width: 32.3%;
	margin-bottom: 1.3%;
}

.slider-img_1 {
	width: 24.47%;
}

.slider-img_2 {
	width: 43.6%;
}

.slider-img_3 {
	width: 29.33%;
}

.slider-img_4 {
	width: 34.82%;
}

.slider-img_5 {
	width: 23.41%;
}

.slider-img_6 {
	width: 38.47%;
}

.slider-img_7 {
	width: 38.76%;
}

.slider-img_8 {
	width: 26.37%;
}

.slider-img_9 {
	width: 32.21%;
}

.slider-img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
}

/* Слайдер */
.slick-slider{
	position: relative;
	left: 8px;
}

/* Лента слайдов */
.slick-track{
	display: flex;

}
/* Слайд */
.slick-slide{
	opacity: 0;
	transition: all .5s ease;

}

/* Слайд активный (показывается) */
.slick-slide.slick-active{
	opacity: 1;
	margin: 0;
}

/* Стрелка влево */
.slick-arrow.slick-prev{
	font-size: 0;
	background: url(../img/arrow-left.png);
	background-size: 46%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 30px;
	box-shadow: none;
	position: absolute;
	bottom: -60px;
	border: none;
	z-index: 100;
	left: calc(50% - 69px);
	cursor: pointer;
}

/* Стрелка вправо */
.slick-arrow.slick-next{
	font-size: 0;
	background: url(../img/arrow-right.png);
	background-size: 46%;
	background-position: center;
	background-repeat: no-repeat;
	width: 20px;
	height: 30px;
	box-shadow: none;
	position: absolute;
	bottom: -60px;
	border: none;
	z-index: 100;
	right: calc(50% - 55px);
	cursor: pointer;
}

.slider__count {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

#slash{
	margin: 0 10px;
}

.slide__max {
	color: #000;
}


	/*With*/


.with{
	margin-top: 150px;
}

.with__container{
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	align-items: center;
}

.with__title{
	width: 90%;
	max-width: 900px;
	text-transform: uppercase;
	letter-spacing: 3px;	
	font-weight: 700;

}

.with__text{
	margin-top: 20px;
	font-weight: 500;
	font-size: 28px;
	text-align: center;
	max-width: 1000px;
	width: 100%;
}

.with__cards{
	display: flex;
	justify-content: space-between;
	margin-top: 60px;
	flex-wrap: wrap;
}

.card{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 49%;
}

.card__content{
	display: flex;
	flex-direction: column;
	flex: 1 1 300px;
	justify-content: space-between;
	margin-bottom: 30px;
}

.card__img{
	flex: 1 1 425px;
	width: 100%;
	overflow: hidden;
}

.card-img{
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	transition: transform .2s ease;

}

.card-img:hover{
	transform: scale(1.1);
}

.card__title{
	text-align: left;
	color: #000;
	font-family: "Monserrat", sans-serif;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 5%;
}

.card__text{
	text-align: left;
	max-width: 680px;
	width: 100%;
}

.card__btn{
	display: block;
	width: 70%;
	max-width: 220px;
	height: 60px;
	line-height: 60px;
	background-color: #dddcdc;
	text-transform: uppercase;
	text-align: center;
	transition: all .2s ease;
	border: 2px solid #dddcdc;
}

.card__btn:hover{
	background-color: transparent;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


 /*Tour*/

.tour__wrapper{
	display: flex;
	justify-content: space-between;
	padding-bottom: 0;
}

.tour-img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	box-shadow: 0 5px 20px rgb(0 0 0 / 50%)
}

.tour__content {
	flex: 0 1 840px;
	padding-left: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

.tour__title {
	text-align: left;
}

.tour__subtitle {
	text-align: left;
	text-transform: uppercase;
	margin: 30px 0 30px 0;
	max-width: 500px;
	width: 70%;
	letter-spacing: 2px;
}

.tour__text {
	text-align: left;
	 line-height: 1.2;
	 font-size: 22px;
	font-weight: 400;
	letter-spacing: 2px;
}

.tour__text p{
	margin-bottom: 55px;
}

.tour__text p:last-child{
	margin-bottom: 0;
}


/*Book*/

.book {
	position: relative;
	z-index: 10;
	padding: 120px 0;
	background-color: #f4f4f4;
}

.book__wrapper {
	display: flex;
	justify-content: space-between;
}

.book__content {
	padding-left: 50px;
	flex: 1 1 40%;
}

.book__title {
	text-transform: uppercase;
	padding-bottom: 10px;
	text-align: left;
}

.book__text {
}

form{
	justify-content: flex-end;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex: 1 1 60%;
}

form input:first-child{
	margin-left: 0;
}

input{
	height: 70px;
	max-width: 300px;
	width: 100%;
	margin-left: 55px;
	border: 2px solid #7a7a7a;
	font-size: 22px;
	font-weight: 400;
	font-family: "Monserrat", sans-serif;
	color: #3a4047;
	padding-left: 25px;
	margin-bottom: 10px;

}

.form__button{
	text-transform: uppercase;
	height: 70px;
	width: 250px;
	border: 2px solid #7a7a7a;
	font-size: 22px;
	font-weight: 400;
	color: #fff;
	background-color: #3a4047;
	font-family: "Monserrat", sans-serif;
	letter-spacing: 2px;
	margin-left: 55px;
	cursor: pointer;
	border: 1px solid #3a4047;
	transition: all .2s ease;
}

.form__button:hover{
	background-color: transparent;
	color: #444;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input::-moz-placeholder{
	font-size: 22px;
	font-weight: 400;
	font-family: "Monserrat", sans-serif;
	color: #3a4047;

}

input:-ms-input-placeholder{
	font-size: 22px;
	font-weight: 400;
	font-family: "Monserrat", sans-serif;
	color: #3a4047;

}

input::placeholder{
	font-size: 22px;
	font-weight: 400;
	font-family: "Monserrat", sans-serif;
	color: #3a4047;

}


/*Footer*/

footer{
	color: #000;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 90px 0 105px 0;
	min-height: 335px;
}
footer a{
	color: #000;
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 3px;
}

footer li.nav__item{
	width: auto;
	transition: all .2s ease;
}

footer li.nav__item:hover{
	color: #000;
	border: none;
	transform: scale(1.1);
	
}

footer ul.nav__list{
	width: 100%;
	max-width: 550px;
}

.footer__text {
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
}

.footer__rights {
	margin-top: 5px;
}





@media(max-width: 1250px){


	/*Book*/

	.book__wrapper{
		align-items: center;
	}
	.book__content{
		flex: 1 1 60%;
	}
	form{
		flex: 1 1 40%
	}
}

@media(max-width: 1000px){


	/*About*/


	.about__wrapper{
		flex-direction: column;
		align-items: center;
	}

	.about__content{
		order: 1;
		flex: 1 1 100%;
		padding: 0 10%;
	}

	.about__img{
		width: 100%;
		height: 600px;
	}


	/*With*/

	.card{
		width: 100%;
	}


	/*Tour*/

	.tour__wrapper{
		flex-wrap: wrap;
	}

	.tour__img{
		width: 100%;
		height: 400px;
	}

	.tour__content{
		margin-top: 30px;
	}

	.tour__text p{
		margin-bottom: 40px;
	}


	/*Book*/

	.book__wrapper{
		flex-direction: column;
	}

	.book__content{
		text-align: center;
		padding: 0;
	}

	.book__title{
		padding: 0;
		text-align: center;
	}

	form{
		flex-direction: column;
		width: 100%;
		flex: 1 1 100%;
		align-items: start;
	}

	input{
		max-width: 100%;
		margin-left: 0;
	}

	.form__button{
		margin: 0 auto;
	}
}

@media(max-width: 767px){


	/*Header*/

	h1{
		font-size: calc(65px + (35 + 35 * 0.7)*((100vw - 320px) / 1920))
	}

	h2{
		font-size: 25px;
	}

	.social{
		transform: rotate(0deg);
		left: 0;
		right: 0;
		top: calc(100% - 63px);
	}

	.social ul{
		max-width: 500px;
		margin: 0 auto;
	}
}

@media(max-width: 500px){


	/*Header*/

	.social ul{
	width: 100%;
	}

	/*Footer*/

	footer ul.nav__list{
	flex-direction: column;
	}

	.footer__text{
		text-align: left;
		margin-top: 40px;
	}
}
@media(max-width: 450px){


	/*About*/


	.info__btn{
		-ms-grid-row-align: center;
		    align-self: center;
		width: 80%;
	}


	/*Tour*/

	.tour__subtitle{
		font-size: 25px;
	}


	/*Book*/

	.book__title{
		font-size: 24px;
	}
}




@media (max-height: 500px){


	/*Header*/

	.social__list{
		width: 100vh;
		height: 100vw;
		}
}

@media (max-height: 300px){

	/*Header*/
	.social{
		display: none;
	}
}

